*.swp
cobol/LINKAREA
cobol/MCPAREA
cobol/SPAAREA
cobol/TEST1.so
cobol/TEST2.so
cobol/TEST3.so
cobol/test1/LINKAREA
cobol/test1/MCPAREA
cobol/test1/SCRAREA
cobol/test1/SPAAREA
cobol/test1/TEST1.so
cobol/test1/TEST2.so
cobol/test2/LINKAREA
cobol/test2/MCPAREA
cobol/test2/SCRAREA
cobol/test2/SPAAREA
cobol/test2/TEST3.so
directory
aps.log
aps.pid
glserver.log
glserver.pid
wfc.log
wfc.pid
aps1.log
aps2.log
